In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import random
import csv
from datetime import datetime, timedelta

In [ ]:
df = pd.read_csv('manhole final.csv')

In [ ]:
df=df.drop('Dates', axis=1)

In [ ]:
X = df.drop('Methane Alert', axis=1)
y_methane = df['Methane Alert']
y_co2 = df['CO2 Alert']

In [ ]:
X = X.drop('CO2 Alert', axis=1)

In [ ]:
X = X.drop('CO2 (ppm)', axis=1)

In [ ]:
X = X.drop('mq2', axis=1)

In [ ]:
X

      mq2      Time  Water Level  Methane (ppm)  CO2 (ppm)
0     674  00:00:00         18.0         960.20    2117.10
1     646  00:30:00         45.3         219.93     911.19
2     590  01:00:00         73.9         268.37     993.75
3     627  01:30:00         14.5         426.10    1421.28
4     896  02:00:00         35.2        1183.17    4334.22
...   ...       ...          ...            ...        ...
1839  826  07:30:00         92.5        3997.20    4158.94
1840  821  08:00:00         27.5        4073.88    3887.42
1841  832  08:30:00         79.6        6545.17    3455.47
1842  840  09:00:00         91.6        3987.65    6094.62
1843  840  09:30:00         29.7        2569.91    5074.99

[1844 rows x 5 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y_methane, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rclassifier = RandomForestClassifier(criterion='entropy', random_state=0)
rclassifier.fit(X_train._get_numeric_data(), y_train)

dt_y_pred= rclassifier.predict(X_test._get_numeric_data())

from sklearn.metrics import accuracy_score,precision_score,recall_score
scor1e=accuracy_score(y_test,dt_y_pred)

C:\Users\MRUNAL\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [ ]:
scor1e

1.0

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy', random_state=0)
classifier.fit(X_train._get_numeric_data(), y_train)

dt_y_pred= classifier.predict(X_test._get_numeric_data())

In [ ]:
score=accuracy_score(y_test,dt_y_pred)
score

1.0

In [ ]:
pip install scikit-learn xgboost

Requirement already satisfied: scikit-learn in c:\users\mrunal\anaconda3\lib\site-packages (0.21.3)
Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/24/14/d9ecb9fa86727f51bfb35f1c2b0428ebc6cd5ffde24c5e2dc583d3575a6f/xgboost-1.6.2-py3-none-win_amd64.whl (125.4MB)
Requirement already satisfied: joblib>=0.11 in c:\users\mrunal\anaconda3\lib\site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied: numpy>=1.11.0 in c:\users\mrunal\anaconda3\lib\site-packages (from scikit-learn) (1.16.5)
Requirement already satisfied: scipy>=0.17.0 in c:\users\mrunal\anaconda3\lib\site-packages (from scikit-learn) (1.3.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import mean_squared_error

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y_methane, test_size=0.2, random_state=42)

# Train the XGBoost model for methane prediction
model_methane = xgb.XGBRegressor()
model_methane.fit(X_train._get_numeric_data(), y_train)

# Make predictions on the test set for methane
y_pred_methane = model_methane.predict(X_test._get_numeric_data())

# Evaluate the performance of the model for methane prediction
mse_methane = mean_squared_error(y_test, y_pred_methane)
print("MSE for Methane Prediction:", mse_methane)

MSE for Methane Prediction: 4.2746598e-10